*.bbl

*.blg

*.log

*.pdf

*.toc

*.out

*.aux

*.dvi

*.log

*.pdf



*.exe

*.ilk

*.pdb

*.tlog

*.log

*.obj

*.lastbuildstate

*.idb

*.suo

Debug

*.sdf

